.container{
    width: 100;
    height: 92vh;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

/* ---------------Search------------------------ */
.searchContainer{
    width: 450px;
    background: #dfdfdf;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.search{
    display: flex;
    padding: 10px;
    width:100% ;
    height: max-content;
    background: #fff;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input{
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color:#333;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background: #d4d4d4be;
}
.categories{
    width: 100%;
    height: max-content;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.category{
    text-align: center;
    width: max-content;
    padding: 5px 5px;
    background-color: #fff;
    border-radius: 5px;
    color: #333;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
    cursor: pointer;
}
.category:hover{
    text-align: center;
    width: max-content;
    padding: 5px 5px;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
    cursor: pointer;
}

.itemsContainer{
    border-radius: 10px;
    height:800px;
    overflow-y: scroll;
}

.item{
    width:95%;
    height: 150px;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    overflow: hidden;
    padding: 5px;
}

.imgContainer{
    width: 200px;
    border-radius:5px ;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.img{
    object-fit: cover;
    z-index: 1;
}

.textContainer{
    width: 200px;
    margin: 0 0px 0 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    width: 200px;
}
.icon{
    display: flex;
    font-size: 15px;
    color: rgb(16, 185, 129);
}
.types{
    display: flex;
    gap: 2px;
}
.type{
    font-size: 10px;
    width: max-content;
    padding:5px;
    margin: 5px 0;
    background-color: rgb(16, 185, 129);
    border-radius: 5px;
    color: #fff;
}
.btnContainer{
    display: flex;
    gap: 5px;
    display: flex;
    justify-content: space-between;
}
.info{
    font-size: 15px;
    font-weight: bold;
    color:#00FFFF;
}
.addButton{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #fff;
}
.infoButton{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #ffffff;
}
.deleteButton{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #fff;
}
/* ---------------Map---------------------- */
.mapContainer{
    width:800px;
    background: url("https://images.unsplash.com/photo-1516546453174-5e1098a4b4af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
    background-size: cover;
    height: 100%;
    border-radius: 10px;
}
/* ---------------User list-------------------------- */
.listContainer{
    width: 450px;
    background: #dfdfdf;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}
.tripName{
    display: flex;
    padding: 10px;
    width:100% ;
    height: max-content;
    background: #fff;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.inputTripname{
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color:#333;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background: #d4d4d4be;
}

.time{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 5px;
    width: 100%;
    height:100px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.start {
    display: flex;
    align-items: center;
    gap: 20px;
}
.end {
    display: flex;
    align-items: center;
    gap: 20px;
}
.days{
    width: 100%;
    height: max-content;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.date{
    text-align: center;
    width: max-content;
    padding: 5px 10px;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.day{
    text-align: center;
    width: max-content;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    color: #666;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.daySelect{
    text-align: center;
    width: max-content;
    padding: 5px 10px;
    background-color: rgb(16, 185, 129);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.day:hover{
    text-align: center;
    width: max-content;
    padding: 5px 10px;
    background-color: rgb(16, 185, 129);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.addDay{
    text-align: center;
    width: max-content;
    padding: 5px 10px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.userItemsContainer{
    border-radius: 10px;
    height:800px;
    overflow-y: scroll;
}
.header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #333;
    gap: 10px;
}
.userItem{
    width:100%;
    height: max-content;

    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
}
.con{
    flex: 3;
    display: flex;
}
.userImgContainer{
    width: 100%; 
    height: 100px;
    border-radius:5px ;
    font-size: 20px;
    overflow: hidden;
    position: relative;
}

.userimg{
    object-fit: cover;
}

.cate{
    width: max-content;
    margin:0 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    background: rgb(16, 185, 129);
    font-weight: bold;
    color: #fff;
}
.footer{
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.settime{
    width: max-content;
    font-size: 13px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.userInput{
    text-align: center;
    width: 50px;
    outline: none;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}
.button{
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 20px;
    background: rgb(16, 185, 129);
    border-radius: 10px;
    color: #333;
    font-size: 20px;
}

.userBtnContainer{
    display: flex;
    gap: 5px;
}