.container{
    max-width: 100vw;
    min-height:100vh;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: #fff;
    overflow-x: hidden;
 }

.heroSection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/hero1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text{
    display: flex;
    margin-top: -200px;
    color: #fff;
    text-align: center;
    z-index: 10;
}
.textp{
    font-size: 20px;
    text-align: center;
    width: 900px;
    padding: 20px;
    color: #fff;
}
/* rgb(16, 185, 129) */
.text h2{
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.text span{
    font-size: 100px;
    font-weight: bold;
    color: rgb(16, 185, 129);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.btn{
    margin-top: 3rem;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    color: #fff;
    padding: 20px;
    background: rgb(16, 185, 129);
}

@media screen and (min-width: 640px) {
    .text h1{
        font-size: 60px;
    }
}

.selectBar{
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cardContainer{
    width: 100%;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 10px;
    background: rgb(209,250,229);
    background: linear-gradient(
        203deg, 
        rgba(209,250,229,1) 0%, 
        rgba(236,253,245,1) 30%, 
        rgba(255,255,255,1) 49%, 
        rgba(236,253,245,1) 67%, 
        rgba(209,250,229,1) 100%);
}

.cardContainer:nth-child(2){
    width: 100%;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 10px;
    background: rgb(224,242,254);
    background: linear-gradient(
        203deg, 
        rgba(224,242,254,1) 0%, 
        rgba(240,249,255,1) 30%, 
        rgba(255,255,255,1) 49%, 
        rgba(240,249,255,1) 67%, 
        rgba(224,242,254,1) 100%
    );
}

.title{
    font-size: 30px;
    font-weight: 600;
}

.cardLists{
   width: 100%;
   display: flex;
   justify-content: space-around;
   gap: 1.25rem;
}

.card{
    flex: 1;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.cardImg{
    width: 100%;
    height: 284px;
    background: #333;
}

.viewMore{
    flex: 1;
    background:#666;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.vText{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}



