.container{
    max-width: 100%;
    min-height:100vh;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: #fff;
    overflow-x: hidden;
 }
.heroSection{
    height: 600px;
    background:url("/hero.jpg");
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
}
.text{
    margin-top: -100px;
    border: 5px solid #fff;
    width: 1000px;
    height: 100px;
    font-size:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background: #53c28b2d;
}
.heroText{
    font-size: 100px;
    font-weight: bold;
}
.selectBar{
    width:1196px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    bottom: 70px;
    padding: 0 5rem;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.selecter{
    outline: none !important;
    align-items: center;
    margin: 1rem;
    width:224px;
    color: #333;
}
.addSection{
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 5rem 0;
   gap: 20px;

}
/* .add1{
    width: 791px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}
.add2{
    width: 365px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
} */

.cardContainer{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background:#EDEDED;
}

.title{
    font-size: 35px;
    font-weight: bold;
    color: #666;
    padding: 20px;
}

.cardLists{
   width: 100%;
   height: 400px;
   padding: 20px;
   display: flex;
   justify-content: space-around;
}

.card{
    width: 284px;
    height: 360px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.cardImg{
    width: 100%;
    height: 284px;
    background: #333;
}

.viewMore{
    width: 187px;
    height: 360px;
    background:#666;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.vText{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}



